<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ptut_s3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ptut_S3">
        <activity android:name=".PageFavoris"></activity>
        <activity android:name=".favoris" />
        <activity android:name=".profil" />
        <activity android:name=".TImer" />
        <activity android:name=".PageExercice" />
        <activity android:name=".ExerciceAdapter" />
        <activity android:name=".PageExercices" />
        <activity android:name=".page_calories" />
        <activity android:name=".page_inscription" />
        <activity android:name=".page_connexion" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>